p Hey Admin,

p  = "A new space request from #{@space_requester_email}"

p Space Required @#{@space_request.city}

p Size: #{@space_request.min_size} To #{@space_request.max_size}

- if @space_request.budget

    p Budget: #{number_to_currency @space_request.budget}
