p Hey Admin,

p  = "A new space request from #{@space_requester_email}"

p Space Required @#{@space_request.city}

p Size: #{@space_request.size} SQFT

- if @space_request.budget

    p Budget: #{@space_request.budget_type}
