


<div id="myCarousel" class="carousel slide">

  <!-- Carousel items -->
  <div class="carousel-inner">
    <% @space.images.each do |image| %>
    <div class="active item">
      <%= image_tag image.file.url %>
    </div>
    <% end %>
  </div>
  <!-- Carousel nav -->
  <!-- <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a> -->
  <!-- <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a> -->
</div>
