<p><%= notice %> </p>

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <a href="/" class="navbar-brand">Sublet App</a>
    </div>


    <ul class="nav navbar-nav navbar-right">
      <li>
      <%= link_to '+ Add Your Space', new_space_path, class: 'btn btn-primary header_add_space' %>
      </li>
    </ul>

  </div>
</div>
