<div class="modal fade" id="requestASpace" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel" style="text-align:center">Request a Space</h4>
        <p style="text-align:center;">We'll match you with a listing or email you when one becomes available</p>
      </div>
      <div class="modal-body">
          <% @space_request = SpaceRequest.new  %>
          <%= render 'space_requests/form' %>
      </div>
    </div>
  </div>
</div>
