<div class="modal fade" id="postANewSpace" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel" style="text-align:center">List your space for free. We'll even put you in touch if someone requests something similiar.</h4>
      </div>
      <div class="modal-body" id="postANewSpaceContent">

      </div>
    </div>
  </div>
</div>
