<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
<body>

  <%= render 'layouts/header' %>
        <%#= render 'layouts/search' %>
<br>
  <div class="container main_content">
    <div class="page-header" id="banner">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
